.container {
    padding: 30px 20px;
    /*border: solid 1px white;*/
    width: 1080px;
    margin: 0 auto;
}

.user_block {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;

    width: 30%;
    margin: 0 auto;

    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
}

.avatar_n_login_container {
    text-align: center;
    flex: 0 0 50%;
}

.avatar {
    border-radius: 5px;
}

.user_info_container {
    flex: 0 0 50%;
    padding: 0px 5px;
}

.user_info_container div:first-child {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}

.user_info_container div:not(:first-child) {
    margin-bottom: 10px;
}


